body {
	padding-left: 11em;
	font-family: "Lucida Sans", Georgia, "Times New Roman", Times, serif;
	color: white;
	background-color: #008B00
}
ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em 
	}
h1 {
	font-family: Papyrus, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}
ul.navbar li {
	background: Turquoise;
	margin: 0.2em 0;
	padding: 0.2em;
	border-right: 1em solid white
}
ul.navbar a {
	text-decoration: none
}
a:link {
	color: black 
}
a:visited {
	color: brown
}
address {
	margin-top: 1em;
	padding-top: 1em;
	border-top: thick dotted }